﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

<p> create account </p>
<form method="POST" action="http://192.168.0.100/api/account/create">
    <p>
        Id: <input type="email" name="id"/>
    </p>
    <p>
        Pw: <input type="password" name="pw"/>
    </p>
    <p>
        Nick: <input type="text" name="nickname"/>
    </p>
    <p>
        <input type="submit" value="sign up"/>
    </p>
</form>

<p> login account </p>
<form method="POST" action="http://192.168.0.100/api/account/login">
    <p>
        Id: <input type="email" name="id"/>
    </p>
    <p>
        Pw: <input type="password" name="pw"/>
    </p>
    <p>
        <input type="submit" value="sign in"/>
    </p>
</form>

<p>Create Album</p>
<form method="POST" action="http://192.168.0.100/api/album/create" enctype="multipart/form-data">
    <input type="hidden" name="id" value="keysckm@gmail.com"/>
    <input type="hidden" name="token" value="0d2ca067-16f8-40d9-8023-b2c9eb94f58c"/>
    <p><input type="text" name="title" /></p>
    <p><input type="file" name="file" accept=".jpg,.jpeg" /></p>
    <p><input type="submit" value="Create Album" /></p>
</form>
   

<!-- enctype="multipart/form-data" -->
<p>Upload Image</p>
<form method="POST" action="http://192.168.0.100/api/image/upload" enctype="multipart/form-data">
    <input type="hidden" name="id" value="keysckm@gmail.com"/>
    <input type="hidden" name="token" value="0d2ca067-16f8-40d9-8023-b2c9eb94f58c"/>
    <input type="hidden" name="album" value="1"/>
    <p><input type="file" name="file" accept=".jpg,.jpeg"/></p>
    <p><input type="submit" value="send image" /></p>
</form>


        <!-- enctype="multipart/form-data" -->
<form method="POST" action="http://192.168.0.100/api/test/upload" enctype="multipart/form-data">
    <input type="hidden" name="id" value="keysckm@gmail.com"/>
    <input type="hidden" name="token" value="0d2ca067-16f8-40d9-8023-b2c9eb94f58c"/>
    <p>
    file: <input type="file" name="File"/>
    <p>
    file: <input type="file" name="File"/>
    <p>
        file: <input type="file" name="File"/>
    </p>
    <input type="checkbox" name="Bool1"/>
    <input type="text" maxlength="1" name="Char1"/>
    <input type="number" name="Int1"/>
    <input type="text" name="Float1"/>
    <p>
        <input type="submit" value="send"/>
    </p>
</form>

</body>
</html>
